@font-face {
    font-family: 'Alliance';
    src: local('Alliance No 2 Regular'), local('Alliance-No-2-Regular'),
        url('AllianceNo2-Regular.woff2') format('woff2'),
        url('AllianceNo2-Regular.woff') format('woff'),
        url('AllianceNo2-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
body{
    margin:0;
    padding:0;

}
.container{
    display:flex;
}
.left{
    height: 100vh;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;


}
.right{
    height:100vh;
    width:50%;
    background-image:linear-gradient(120deg,#159957,#155799);
}

.logo{
    background-image: linear-gradient(120deg,#159957,#155799);
    display:inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family:montserrat;
    font-weight:600;
    font-size:25px;
    position:absolute;
    top:100px;
    left:100px;

}
.form{
    height: 60%;
    background-color: white;
    width:60%;
    display:flex;
    position:relative;
    top:65px;
    flex-direction:column;
    padding:30px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    display: none;
}
.form .header .create{
    font-weight:500;
}
.form .header{
    text-align:center;
    position: sticky;
    font-family:montserrat;
    margin:0px;
    padding:10px;
    font-weight: 500;
    top: -30px;
    background-color: white;

}
.form .det{
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
    font-family: montserrat;
    font-weight:520;
}
.form .det1{
    padding:10px;
    display:flex;
    gap:5px;
    font-family: montserrat;
    font-weight:520;
    justify-content: center;
    align-items: center;
    color:grey;
}
.form .det1 a{
    text-decoration:none;
    background-image:linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.form .det input{
    padding:15px;
    border:0px 0px 10px 0px;
}
.form .det select{
    padding:15px;
    font-family: montserrat;
    color:grey;
}

.submit{
    background-image: linear-gradient(120deg,#159957,#155799);
    border-style:none;
    font-size: 20px;
    font-family: montserrat;
    font-weight: 520;
    color:white;
}
option{
    padding:20px;
    margin: 10px;;
    font-size:15px;
    font-family:montserrat;

}
option:hover{
    background-image:linear-gradient(120deg,#159957,#155799);
}
.right{
    display: flex;
    justify-content: center;
    align-items:center;
}
.img{
    height: 350px;
    width:auto;
}
input{
    font-family:montserrat;
}
.a{
    background-color: #E9CBA7;
}
.b{
    background-color: #EED0B8;
}
.c{
    background-color: #D09E7D;
}
.d{
    background-color: #F7E2AB;
}
.e{
    background-color: #EFC794;
}
.f{
    background-color: #EFC088;
}
.g{
    background-color: #E7BC91;
}
.h{
    background-color: #ECC083;
}
.i{
    background-color: #D09E7D;
}
.j{
    background-color: #CB9662;
}
.k{
    background-color: #AB8B64;
}
.l{
    background-color: #94623D;
}
.m{
    background-color: #885633;
}
.n{
    background-color: #76441F;
}
.o{
    background-color: #B26949;
}
.p{
    background-color: #80492A;
}
.q{
    background-color: #623A17;
}
.r{
    background-color: #301E10;
}
.slider {
    padding:15px;
    background:white;
    display:flex;
    align-items:center;
    gap:20px;
   }
   .slider p {
    font-size:15px;
    font-weight:500;
    font-family: montserrat;
    color:#7E6D57;
   }
   .slider input[type=”range”] {
    -webkit-appearance:none !important;
    width:420px;
    height:2px;
    background:#7E6D57;
    border:none;
    outline:none;
   }
   .slider input[type=”range”]::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    width:3px;
    height:30px;
    background:#fcfcfc;
    border:2px solid #7E6D57;
    border-radius:50%;
    cursor:pointer;
   }
   .slider input[type=”range”]::-webkit-slider-thumb:hover {
    background:#7E6D57;
   }
   .rs{
    font-family:montserrat;
    font-weight: 520;
   }

   /* Dashboard */
   .logos{
    background-image: linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-family:montserrat;
    font-weight:600;
    font-size:25px;
    padding:30px;

   }
   .navbar{
    display:flex;
    width:100%;
    background-color:white;
    font-family:montserrat;
    font-weight:530;
    font-size:20px;
    justify-content: space-between;

   }
   .nb{
    text-decoration:none;
    padding:30px;

   }
   .p:hover{
    background-image:linear-gradient(120deg,#157877,#157679);
    color: white;
   }
   .q:hover{
    background-image:linear-gradient(120deg,#157679,#15717E);
    color: white;
   }
   .r:hover{
    background-image:linear-gradient(120deg,#15717E,#156D82);
    color: white;
   }
   .s:hover{
    background-image:linear-gradient(120deg,#156D82,#156887);
    color: white;
   }
   .t:hover{
    background-image:linear-gradient(120deg,#156887,#15658A);
    color: white;
   }
   .p{
    background-image:linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    }
    .q{
        background-image:linear-gradient(120deg,#159957,#155799);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
    .r{
        background-image:linear-gradient(120deg,#159957,#155799);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
    .s{
        background-image:linear-gradient(120deg,#159957,#155799);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
    .t{
        background-image:linear-gradient(120deg,#159957,#155799);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }

   .nav{
    display:flex;
    background-image: linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
   }
   .containers{
    background-image:linear-gradient(120deg,#159957,#155799);
    height: 100vh;
   }
   .content{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
   }
   .head{
    font-family:montserrat;
    font-weight:600;
    color:white;
    padding:20px;
    padding-top: 80px;
    text-align:center;
    font-size:40px;
   }
   .avatar{
    height:450px;
    width:450px;
    background-color: white;
    border-radius:50%;
   }
   .hn{
    background-color:white;
    border-radius: 10px;
    padding:5px;
   }
   .as{
    background-image: linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
   }
   .head1{
    font-family:montserrat;
    font-weight:600;
    color:white;
    padding:20px;
    padding-top: 80px;
    text-align:center;
    font-size:40px;
    height:60%;
    width:auto;
   }
   .content1{
    display:flex;
    flex-direction: column;
    gap:20px;
    height: 600px;
    width:90%;
    background-color:white;
    border-radius:10px;
    overflow-y: scroll;
    
   }
.aisle{
    display:flex;
    flex-direction:column;
    font-family:montserrat;
    font-weight: 500;
    padding:20px;
    
}
.headings{
    padding:30px;
    padding-left:40px;
    font-size:20px;
    background-image: linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.products{
    display:flex;
    gap:10px;
}
.tsrt1{
    background-image: url(images/T-shirts/4g3ut_400.webp);
    height: 100px;
    width:auto;
}
.upld{
    display:flex;
    font-family:montserrat;
    justify-content: center;
    align-items:center;
    font-weight: 600;    
}
.upload{
    padding:20px;
    font-size:15px;
    text-align: center;
}
.upld p{
    background-image: linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
h3{
    background-image: linear-gradient(120deg,#159957,#155799);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
button {
    padding: 10px;
    width: 70px;
    color: white;
    font-family: inherit;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    background-color: black;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
  }
  
  .app {
    max-width: 1224px;
    width: 92%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding-bottom: 10px;
  }
  
  .header h2 {
    min-width: fit-content;
  }
  
  .server-message {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
  }
  
  .input-div {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dotted black;
    background-color: white;
    position: relative;
  }
  
  .input-div .browse {
    color: black;
    font-weight: bold;
  }
  
  .file {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .saved-div,
  .queued-div {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    border-radius: 5px;
    border: 2px dotted black;
    background-color: white;
  }
  
  .saved-div .image,
  .queued-div .image {
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    position: relative;
  }
  
  .saved-div .image:nth-child(4n),
  .queued-div .image:nth-child(4n) {
    margin-right: 0;
  }
  
  .saved-div .image img,
  .queued-div .image img {
    height: 100%;
    width: 100%;
  }
  
  .saved-div .image span,
  .queued-div .image span {
    position: absolute;
    top: -4px;
    right: 4px;
    cursor: pointer;
    font-size: 22px;
    color: white;
  }
  
  .saved-div .image span:hover,
  .queued-div .image span:hover {
    opacity: 0.8;
  }
  
  .saved-div .span--hidden,
  .queued-div .span--hidden {
    visibility: hidden;
  }

  .lk{
    font-family:montserrat;
    font-weight:600;
    color:white;
    padding:20px;
    padding-top: 80px;
    text-align:center;
    font-size:20px;
  }
  .lk a{
    text-decoration: none;
  }
 